.App {
  padding: 0;
  margin: 0;
  width: 100vw !important;
  height: 100vh;
  background-color: #f8f8f8;
}

.content_main {
  height: 70vh;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .App {
    height: 140vh;
  }
}
