#nav_pages {
  display: flex;
  align-items: center;
  margin: 1em 0 0 0;
}

#nav_pages .link {
  text-decoration: none;
  margin-right: 10px;
  border-right: 2px solid;
  padding-right: 10px;
}

.pages {
  color: #34495e;
  font-weight: bold;
}

#nav_pages .link.is-active {
  color: #00a3e0;
  border-color: #fff;
}

#nav_pages .link:last-of-type {
  padding-right: 0;
  border-right: none;
}
