#nav_pages {
  display: flex;
  align-items: center;
}

#nav_pages .link {
  color: #34495e;
  text-decoration: none;
  margin-right: 10px;
  border-right: 2px solid;
  padding-right: 10px;
}

#nav_pages .link.is-active {
  color: #19c4eb;
  border-color: #fff;
}

#nav_pages .link:last-of-type {
  padding-right: 0;
  border-right: none;
}
