.card {
  max-width: 50vw !important;
  margin: auto;
}

.image {
  display: unset !important;
  height: 25vh;
}

.media-content {
  border: 1px solid #00a3e0;
}

.title,
.subtitle {
  text-align: center;
}

.basic_data > p {
  margin: 0 !important;
}

.address {
  margin-top: 1em !important;
}

.content ul {
  list-style: none !important;
  margin-left: 0;
}
