.card {
  max-width: 50vw !important;
  margin: auto;
}

.image {
  display: unset !important;
  height: 25vh;
}

.media-content {
  border: 1px solid #00a3e0;
}

.title,
.subtitle {
  text-align: center;
}
